*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
    min-height: 100vh;
    margin: 0;
    background: black;
}
    body::before {
        content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    radial-gradient(circle at 20% 30%, rgba(0,87,183,0.35) 0%, transparent 50%),
    radial-gradient(circle at 80% 40%, rgba(237,28,36,0.35) 0%, transparent 50%),
    radial-gradient(circle at 60% 80%, rgba(0,166,81,0.3) 0%, transparent 50%),
    radial-gradient(circle at 40% 90%, rgba(255,242,0,0.25) 0%, transparent 50%),
    radial-gradient(circle at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 100%);
  filter: blur(80px) brightness(0.9);
}

     h1{
        font-size: 52px;
        color: grey;
    }

    .pulsa{
        color: grey;
        font-size: 40px;
    }

    .funciona{
        color: red;
        font-size: 40px;
    }
    
     .flex{
        display: flex;
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botonPower{
        position: absolute;
        background-color: transparent;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 37%;
        left: 40.5%;
    }

    .porque{
        position: absolute;
        font-size: 32px;
        color: white;
        text-align: center;
        right: 3rem;
        top: 3rem
    }

